{% extends "mixapp/base.html" %}

{% block title %}{{ track.title }}{% endblock %}

{% block cell1 %}
<!-- album art block -->
<td class="imageCell" style="background-image: url('{% if track.largeAlbumArt %}{{ MEDIA_URL }}{{ track.largeAlbumArt }}{% else %}{{ STATIC_URL }}images/defaultLargeAvatar.png{% endif %}');">
	
</td>
{% endblock %}

{% block cell2 %}
<!-- player block -->
<td colspan="2">
	<audio controls="controls" src="{{ MEDIA_URL }}{{ track.fileUrl }}" preload="auto">
	Your browser does not support the audio tag.
	</audio>
</td>
{% endblock %}

{% block cell3 %}
<!-- empty as overridden by player block -->
{% endblock %}

{% block cell5 %}
<!-- artist avatar + hover over profile -->
<td class="imageCell" style="background-image: url('{% if profile.largeAvatar %}{{ MEDIA_URL }}{{ profile.largeAvatar }}{% else %}{{ STATIC_URL }}images/defaultLargeAvatar.png{% endif %}');">
	<h4>{{ track.artistName }}</h4>
</td>
{% endblock %}

{% block cell6 %}
<!-- track info block -->
<td colspan="2" class="longTextCell" id="trackInfo">
	<h2>{{ track.title }}</h2>
	<h6>{% if track.album %}{{ track.album }} - {% endif %}{{ track.artistName }}</h6>
	<p>Track "biography" goes here</p>
</td>
{% endblock %}

{% block cell7 %}
<!-- empty as overridden by track info block -->
{% endblock %}

{% block cell8 %}
<!-- parent track block -->
<td>
	Direct parent of the track here
</td>
{% endblock %}

{% block cell9 %}
<!-- inspiration track or related track -->
<td>
	Inspiration track or related track
</td>
{% endblock %}

{% block cell10 %}
<!-- inspiration track or related track -->
<td>
	Inspiration track or related track
</td>
{% endblock %}

{% block cell11 %}
<!-- inspiration track or related track -->
<td>
	Inspiration track or related track
</td>
{% endblock %}

{% block cell12 %}
<!-- inspiration track or related track -->
<td>
	Inspiration track or related track
</td>
{% endblock %}