{% extends "mixapp/base.html" %}

{% block title %}{{ track.title }}{% endblock %}

{% block cell1 %}
<!-- album art block -->
<td>Album art here</td>
{% endblock %}

{% block cell2 %}
<!-- player block -->
<td colspan="2">
	<audio controls="controls" src="{{ MEDIA_URL }}{{ track.fileUrl }}" preload="auto">
	Your browser does not support the audio tag.
	</audio>
</td>
{% endblock %}

{% block cell3 %}
<!-- empty as overridden by player block -->
{% endblock %}

{% block cell5 %}
<!-- artist avatar + hover over profile -->
<td>
	Artist avatar and profile here
</td>
{% endblock %}

{% block cell6 %}
<!-- track info block -->
<td colspan="2">
	Track info here
</td>
{% endblock %}

{% block cell7 %}
<!-- empty as overridden by track info block -->
{% endblock %}

{% block cell8 %}
<!-- parent track block -->
<td>
	Direct parent of the track here
</td>
{% endblock %}

{% block cell9 %}
<!-- inspiration track or related track -->
<td>
	Inspiration track or related track
</td>
{% endblock %}

{% block cell10 %}
<!-- inspiration track or related track -->
<td>
	Inspiration track or related track
</td>
{% endblock %}

{% block cell11 %}
<!-- inspiration track or related track -->
<td>
	Inspiration track or related track
</td>
{% endblock %}

{% block cell12 %}
<!-- inspiration track or related track -->
<td>
	Inspiration track or related track
</td>
{% endblock %}


{% block content %}
Title: {{ track.title }} <br/>
Artist: {{ track.artistName }} <br/>

{% endblock %}