@CHARSET "ISO-8859-1";

body {
	color: #3B3E40 /*color4*/;
	background-color: #EDF8FF /*color3*/;
	
	/* fonts */
	font-family: Arial, Helvetica, sans-serif;
}

#page {
	/* width of the page is auto set by the javascript to match the width of the grid */
	margin-left: auto; /* centre the page */
	margin-right: auto;
}

header {
	position: relative;
	bottom: -1em;
	overflow: hidden;
}

#logo {
	display: inline;
	float: right;
	padding-right: 0.8em;
}


/* menu bar */
nav {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #3B3E40 /*color4*/;
}

nav ul {
	list-style: none;
	
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

nav li {
	display: inline;
	padding-left: 0.35em;
	padding-right: 0.35em;
}

nav a {
	color: #EDF8FF /*color3*/;
	text-decoration: none;
	font-weight: bold;
}


/* footer */
footer {
	padding: 1em;
	background-color: #3B3E40 /*color4*/;
	/*background-image: linear-gradient(bottom, rgb(26,26,26) 20%, rgb(41,41,41) 66%);
	background-image: -o-linear-gradient(bottom, rgb(26,26,26) 20%, rgb(41,41,41) 66%);
	background-image: -moz-linear-gradient(bottom, rgb(26,26,26) 20%, rgb(41,41,41) 66%);
	background-image: -webkit-linear-gradient(bottom, rgb(26,26,26) 20%, rgb(41,41,41) 66%);
	background-image: -ms-linear-gradient(bottom, rgb(26,26,26) 20%, rgb(41,41,41) 66%);*/
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	
	text-align: centre;
	color: #EDF8FF /*color3*/;
}

/* grid styling */
#gridTable {
	background-color: #3B3E40 /*color4*/;
}

#gridTable td {
	border-style: none;
	border-color: black;
	border-width: 5px;
	
	background-color: #EDF8FF /*color3*/;
	/* make sure images render correctly */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
	padding: 0.5em;
}